.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: white;
}
.header img {
    height: 50px;
}
.btn-login, .btn.logout {
    background-color: #ff9d00;
    color: #fdfdfd;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

footer {
    background: linear-gradient(45deg, #1a237e, #3949ab);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    border-top: 3px solid #ff9d00;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
  }
  
  footer p {
    margin: 0;
  }
  