h1 {
  font-size: 60px;
  justify-content: center;
}

img {
  margin-left: 10px; /* Espacio entre el h1 y la imagen */
  height: 100px;  /* Tamaño de la imagen */
  display: flex;
  justify-content: center;
}

body {
  background-color: #acdef8;  /* Color del fondo */
}

p {
  margin: 20px; /* Margenes para parrafos generales */
}

.parrafos {
  background-color: #f9f9f9;  /* Color del fondo del parrafo */
  border: 2px solid #ff9d00; /* Borde de color */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno (separación del texto con el borde) */
  font-family: sans-serif;  /* Tipo de fuente */
  margin: 20px; /* Margenes para el parrafo */
  text-align: center; /* Alinear el texto al centro */
  font-size: large; /* Tamaño del texto */
}