body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #acdef8;
}

.miembro {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura separación adecuada entre texto e imagen */
    border: 1px solid #ff9d00;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 4px #ff9d00;; /* Sombra ligera */
    background-color: #f9f9f9; /* Color de fondo */
}

.miembro:hover {
    background-color: #fff4e0; /* Cambio de color al pasar el cursor */
    box-shadow: 0 4px 8px #ff9d00; /* Más sombra */
    transform: translateY(-5px); /* Eleva el contenedor */
}

.foto-miembro {
    width: 180px; 
    height: 180px;
    object-fit: cover;
    border-radius: 50%; /* Imagen redonda */
    margin-right: 20px;
}

h1 {
    text-align: center;
    display: grid;
}

.listado-miembros {
    text-align: center;
    margin-bottom: 20px; /* Espaciado con el resto del contenido */
}

.listado-miembros ul {
    list-style: none; /* Eliminamos los puntos de la lista */
    padding: 0;
    margin: 0;
    display: inline-flex; /* Mostramos los elementos en línea */
    gap: 15px; /* Espaciado entre los enlaces */
}

.listado-miembros li {
    margin: 0;
}

.listado-miembros a {
    text-decoration: none; /* Sin subrayado */
    font-size: 18px; /* Tamaño de fuente adecuado */
    color: white; /* Texto blanco */
    background-color: #ff9d00; /* Fondo naranja */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Botones redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: all 0.3s ease; /* Animación para hover */
}

.listado-miembros a:hover {
    background-color: #ffa733; /* Cambio de color al pasar el cursor */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Intensificamos la sombra */
}


